In [30]:

import pandas as pd

**Carregando dados**

In [29]:
df = pd.read_csv("KAG_conversion_data.csv")

In [5]:
type(df)

pandas.core.frame.DataFrame

**Primeira inspeção**

In [8]:
df.head() #lista por default as 5 primeiras linhas

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [9]:
df.tail()

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [11]:
df.columns

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=1143, step=1)

In [16]:
df.shape #quantidade de linhas e colunas

(1143, 11)

In [17]:
linhas, colunas = df.shape #criar variáveis, traz o primeiro elemento linhas pra dentro da variável linha e coluna para variável coluna

In [19]:
print(f"O número de linhas é {linhas}")

O número de linhas é 1143

In [21]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df["Clicks"] #traz informações relativas a coluna que eu quero

0         1
1         2
2         0
3         1
4         1
       ...
1138    252
1139    120
1140     28
1141    135
1142    114
Name: Clicks, Length: 1143, dtype: int64

In [25]:
ser_interest = df["interest"]

In [27]:
type(ser_interest)

pandas.core.series.Series

In [28]:
df.info() #informações sobre  arquivo que está trabalhando

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB